body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.middle-container img{
    border-radius: 100%;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: rgb(24, 150, 150);
    width: 5%;
    margin: 100px auto;
}

h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    line-height: 2;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em; /* 100% = 16px =1em (% and em are dynamic because the font size changes when the size is changed in browser settings.
     but, by using px it becomes static. em and % both inherit from parent section and add up the value. But, px doesn't inherit because it is static.
     For preventing font size inheritance from parent, rem is used instead of em.)*/
    /* width: 10%;
    margin: 0 auto 0 auto; */
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625rem;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.intro{
    width: 30%;
    margin: auto;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-img{
    width: 40%;
    float: right;
    margin-left: 30px;
}

.tabla-img{
    width: 25%;
    float: left;
    margin-right: 20px;
}

/* .web{
    background-color: #ee3;
} */

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}


.top-cloud{
    position: absolute;
    right: 350px;
    top: 40px;
}


.top-container h2{
    font-weight: normal;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

footer{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

footer p{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

footer a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
    
}

footer a:hover{
    color: #EAF6F6;
}
